<div class="form-col">
	<editor-text [(value)]="data.title" label="Title" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.episode_crawl" label="Episode Crawl" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.opening_crawl" label="Opening Crawl" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.director" label="Director" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.producer" label="Producer" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.release_date" label="Release date" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.characters" label="Characters" readonly="true"></editor-text>
</div>
<!--
<div class="form-col">
	<editor-text [(value)]="data.planets" label="Planets" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.starships" label="Starships" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.vehicles" label="Vehicles" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.species" label="Species" readonly="true"></editor-text>
</div>
-->