<div class="form-col">
	<editor-text [(value)]="data.name" label="Name" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.classification" label="Classification" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.designation" label="Designation" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.average_height" label="Average height" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.hair_colors" label="Hair colors" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.skin_colors" label="Skin colors" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.eye_colors" label="Eye colors" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.average_lifespan" label="Average lifespan" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.homeworld" label="Homeworld" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.language" label="Language" readonly="true"></editor-text>
</div>
<!--
<div class="form-col">
	<editor-text [(value)]="data.people" label="People" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.films" label="Films" readonly="true"></editor-text>
</div>
-->