<div class="form-col">
	<editor-text [(value)]="data.name" label="Name" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.model" label="Model" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.manufacturer" label="Manufacturer" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.cost_in_credits" label="Cost in credits" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.length" label="Length" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.max_atmosphering_speed" label="Max atmosphering speed" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.crew" label="Crew" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.passengers" label="Passengers" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.cargo_capacity" label="Cargo capacity" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.consumables" label="Consumables" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.hyperdrive_rating" label="Hyperdrive rating" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.MGLT" label="MGLT" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.starship_class" label="Starship class" readonly="true"></editor-text>
</div>
<!--
<div class="form-col">
	<editor-text [(value)]="data.pilots" label="Pilots" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.films" label="Films" readonly="true"></editor-text>
</div>
-->