<div class="form-col">
	<editor-text [(value)]="data.name" label="Name" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.rotation_period" label="Rotation period" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.orbital_period" label="Orbital period" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.diameter" label="Diameter" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.climate" label="Climate" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.gravity" label="Gravity" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.terrain" label="Terrain" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.surface_water" label="Surface water" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.population" label="Population" readonly="true"></editor-text>
</div>
<!--
<div class="form-col">
	<editor-text [(value)]="data.residents" label="Residents" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.films" label="Films" readonly="true"></editor-text>
</div>
-->