<section>
	<form #form="ngForm">
		<div [ngSwitch]="dataType" class="table-wrapper">
			<app-page-pilot-overview *ngSwitchCase="EStarWarsDataType.People" [(data)]="data"></app-page-pilot-overview>
			<app-page-planet-overview *ngSwitchCase="EStarWarsDataType.Planets" [(data)]="data"></app-page-planet-overview>
			<app-page-specie-overview *ngSwitchCase="EStarWarsDataType.Species" [(data)]="data"></app-page-specie-overview>
			<app-page-vehicle-overview *ngSwitchCase="EStarWarsDataType.Vehicles" [(data)]="data"></app-page-vehicle-overview>
			<app-page-starship-overview *ngSwitchCase="EStarWarsDataType.Starships" [(data)]="data"></app-page-starship-overview>
			<app-page-film-overview *ngSwitchCase="EStarWarsDataType.Films" [(data)]="data"></app-page-film-overview>
		</div>
	</form>
</section>