<div class="form-col">
	<editor-text [(value)]="data.name" label="Name" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.height" label="Height" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.mass" label="Mass" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.hair_color" label="Hair color" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.skin_color" label="Skin color" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.eye_color" label="Eye color" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.birth_year" label="Birth year" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.gender" label="Gender" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.homeworld" label="Homeworld" readonly="true"></editor-text>
</div>
<!--
<div class="form-col">
	<editor-text [(value)]="data.films" label="Films" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.species" label="Species" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.vehicles" label="Vehicles" readonly="true"></editor-text>
</div>
<div class="form-col">
	<editor-text [(value)]="data.starships" label="Starships" readonly="true"></editor-text>
</div>
-->