<form #form="ngForm">
	<section>
		<div class="flexed-form">
			<div class="form-col">
				<editor-text [(value)]="data.created" label="Created" readonly="true"></editor-text>
			</div>
			<div class="form-col">
				<editor-text [(value)]="data.edited" label="Edited" readonly="true"></editor-text>
			</div>
			<div class="form-col">
				<editor-text [(value)]="data.url" label="Url" readonly="true"></editor-text>
			</div>
		</div>
	</section>

	<div class="delimiter"></div>
	
	<div *ngIf="dataType == EStarWarsDataType.People">
		<h3>Pilot description</h3>
		<app-page-pilot-detail [(data)]="data" class="flexed-form"></app-page-pilot-detail>
	</div>
	<div *ngIf="dataType == EStarWarsDataType.Films">
		<h3>Film description</h3>
		<app-page-film-detail [(data)]="data" class="flexed-form"></app-page-film-detail>
	</div>
	<div *ngIf="dataType == EStarWarsDataType.Planets">
		<h3>Planent description</h3>
		<app-page-planet-detail [(data)]="data" class="flexed-form"></app-page-planet-detail>
	</div>
	<div *ngIf="dataType == EStarWarsDataType.Species">
		<h3>Specie description</h3>
		<app-page-specie-detail [(data)]="data" class="flexed-form"></app-page-specie-detail>
	</div>
	<div *ngIf="dataType == EStarWarsDataType.Vehicles">
		<h3>Vehicle description</h3>
		<app-page-vehicle-detail [(data)]="data" class="flexed-form"></app-page-vehicle-detail>
	</div>
	<div *ngIf="dataType == EStarWarsDataType.Starships">
		<h3>Starships description</h3>
		<app-page-starship-detail [(data)]="data" class="flexed-form"></app-page-starship-detail>
	</div>
</form>